<!DOCTYPE html>
<html>
    <head>
        <title>GELF</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="javascript/routes.js"></script>
    </head>
    <body>
        <h4>Sistema de Agendamento de Quadras</h4>
        <div class="pag_login">
            <%= form_for(:user, :url => {:controller => 'users', :action => 'create_user'}) do |user| %>
                <label id="userName">Usuário:</label>
                <%= user.text_field :username %><br/><br/>
                <label id="password">Senha:</label>
                <%= user. text_field :password %><br/><br/>
                <button id="button" type="submit" onclick="redirect_to_sport_choice()">Login</button>
        </div>
    </body>
</html>
