<head>
    <title>Editar perfil</title>
     <%= stylesheet_link_tag "style2" %>
     <link rel="shortcut icon" type="image/x-icon" href="/assets/images/icone.png" />
</head>

<body>
       <div class="tudo" id="edituser">
            
       <div class="pag_user">
	<h1>Editar usuário</h1>

	<%= render 'form' %>

	<%= link_to 'Back', usuarios_path %>
 	</div>	
 	</div>
</body>