<!DOCTYPE html>
<html>
    <head>
        <title>GELF</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="javascript/routes.js"></script>
    </head>
    <body>
        <div>
            <h3>Escolha seu esporte:</h3>
            <input type="image" src="images/futebol.png" onclick="redirect_to_pag_usuario()">
            <input type="image" src="images/tênis.png" onclick="redirect_to_pag_usuario()">
            <input type="image" src="images/volei.png" onclick="redirect_to_pag_usuario()">
        </div>
    </body>
</html>
