/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 15, 2016, 12:12:39 PM
    Author     : flavia
*/

body, html {
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: #E7E7E7;
    font-family: Verdana, sans-serif;
    font-size: 12pt;
    display: -moz-box;
    display: -webkit-flex; 
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
}

text_field {
    line-height: 1.8;
    background-color: white;
    border: 3px solid white;
    color: black;
    width: 50%;
}

password_field {
    line-height: 1.8;
    background-color: white;
    border: 3px solid white;
    color: black;
    width: 50%;
}
/*
input[type=text]:focus {
    border: 3px solid #CCFFFF;
}

#button_login {
    background-color: navy;
    font-size: 12pt;
    border: none;
    color: black;
    border-radius: 10px;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    width: 70%;
}
*/

.tudo {
    padding: 0.5%;
    height: 100%;
    border-radius: 100px;
    background-color: white;
    align-self: center;
    justify-content: center;
    top: 40%;
    right: 40%;
    bottom: 40%;
    left: 40%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.pag_user {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #080e2c;
    float: left;
    padding: 1em;
}

.itemlogin {
    align-self: center;
    justify-content: center;
    margin: auto;
}

#entrar {
    width: 40%;
    height: 40%;
    padding: 1%;
    background-color: #004785;
    border-radius: 30px; 
    color: white;
}

#iconemaua {
        width: 20%;
    }

/*
@media screen and (min-width: 1200px){
    #iconemaua {
        width: 300;
    }
}
*/

h4 {
    color: #080e2c;
}

#button_login {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 0px solid #0e184e;
    border-radius: 19px;
    background: #2644da;
    background: -webkit-gradient(linear, left top, left bottom, from(#2644da), to(#0e184e));
    background: -moz-linear-gradient(top, #2644da, #0e184e);
    background: linear-gradient(to bottom, #2644da, #0e184e);
    text-shadow: #080e2c 1px 1px 1px;
    font: normal normal bold 27px arial;
    color: #ffffff;
    text-decoration: none;
}
#button_login:hover,
#button_login:focus {
    border: 0px solid #0f1b57;
    background: #2e52ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#2e52ff), to(#111d5e));
    background: -moz-linear-gradient(top, #2e52ff, #111d5e);
    background: linear-gradient(to bottom, #2e52ff, #111d5e);
    color: #ffffff;
    text-decoration: none;
}
#button_login:active {
    background: #0e184e;
    background: -webkit-gradient(linear, left top, left bottom, from(#0e184e), to(#0e184e));
    background: -moz-linear-gradient(top, #0e184e, #0e184e);
    background: linear-gradient(to bottom, #0e184e, #0e184e);
}

